body {
	background: #f7f7f7;
}
#content{
	BACKGROUND: #f3f1f2;
}

h2, h3, a, .val, .val-v1, .back-to-top, .lg-tabs li a:hover, .lg-tabs li.active a, .content-box h4, .icon-u, .dark-icons i:hover, .circle-icons i, .i-primary i, .primary span, .features-list i  {
	color: #1eb9c1;
}

.btn-default {
	 background-color: #1eb9c1;
}
#header > img {
    height: 100px;
    float: left;
}

#content > h2 {
	margin-top: 10px;	
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
}
.navbar__logo {
  
}
@media (min-width: 768px){
.navbar__logo {
    padding-left: 10px;
    width: 100%;
    text-align: left;
}
.navbar-header{width:33%}
.navbar-header div {margin-left: -75px;}
.navbar__logo img {
    top: 8px;
    width:292%
}
}
/*@media only screen and (max-width: 768px) {
	.navbar-header{width:auto}
	.navbar__logo	{    float: right;
    margin-right: -16%;
    margin-top: -11%;}
}*/	


@media only screen and (max-width: 768px) {
	.navbar-header{width:auto}
	.navbar__logo	{
		float: none;
		margin-right: 0;
		text-align: left;
		margin-top: 0;
		margin-left: -73px;
    }
    .navbar-header .col-md-4{
    	width: 50%;
    }
    .navbar-header .col-md-4 img{
    	max-width: 100%;
    }
}	
@media only screen and (max-width: 375px) {
	.navbar__logo	{
		margin-left: -41px;
	}
}
